.form-wrapper {
  max-width: 1391px;
  margin: 0 auto 12rem;

  &--top {
    max-width: 100%;
    margin: 0 !important;
  }
}

.form {
  background-color: #ffffff;
  margin: 4.15rem auto;
  padding: 6rem;
  width: 100%;
  max-width: 52.083rem;
  min-height: 25rem;
  height: auto;
  border: 0.25rem solid #ededed;
  position: relative;

  & .group-input.flex-row {
    width: 100%;
  }

  &.form-app-free {
    min-height: 23rem;

    & .form-wrapper {
      margin: 0 auto 6rem;
    }
  }

  &.form-app-free--first {
    border: none !important;
    background-color: #050505 !important;
    background-image: url(img/texture_form_big.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 21rem;

    &::after {
      position: absolute;
      content: '';
      width: 33.833rem;
      height: 20.5rem;
      border: 0.25rem solid #ededed;
      background-color: #ffffff;
      right: -3.3rem;
      bottom: -7.6rem;
      z-index: -1;
    }

    & input{
      color: #ffffff !important;
    }
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .form-wrapper {
    max-width: 1150px;
  }

  .form {
    margin: 4.15rem auto 4.15rem 0;
    padding: 5rem;
    max-width: 47rem;
    min-height: 25rem;

    &.form-app-free {
      min-height: 20rem;

      & .form-wrapper {
        margin: 0 auto 6rem;
      }
    }

    &.form-app-free--first {
      min-height: 20rem;

      &::after {
        width: 29.833rem;
        height: 17.5rem;
        right: -3rem;
        bottom: -5.6rem;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 1299.99px) {
  .form-wrapper {
    max-width: 85%;
    margin: 0 auto 8rem 5%;
  }

  .form {
    margin: 4.15rem auto 4.15rem 0;
    padding: 3rem;
    max-width: 45rem;
    min-height: 22rem;

    &.form-app-free {
      min-height: 18rem;

      & .form-wrapper {
        margin: 0 auto 6rem;
      }
    }

    &.form-app-free--first {
      min-height: 18rem;

      &::after {
        width: 25.833rem;
        height: 14.5rem;
        right: -4rem;
        bottom: -4.6rem;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 1049.99px) {
  .form {
    min-height: 21rem;

    &.form-app-free--first {
      &::after {
        width: 24rem;
        right: -3.75rem;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 767.99px) {
  .form-wrapper {
    max-width: 90%;
    margin: 0 auto 8rem auto;
  }

  .form {
    min-height: 20rem;
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 559.99px) {
  .form-wrapper {
    max-width: 95%;
    margin: 0 auto 4rem auto;
  }

  .form {
    padding: 1.5rem;
    border: 0 !important;
    background-color: #050505;
    margin: 0 0 2rem !important;

    & .group-input.flex-row {
      flex-direction: column !important;
    }

    &.form-app-free--first {
      border: none !important;
      background-color: #ffffff !important;

      &::after {
        display: none;
      }

    }
  }
  .form-app-free--first {
    & .button-wrapper {
      height: 4rem ;
    }
  }
  #form-app-free--second {
    & .button-wrapper {
      height: 4rem ;
    }
  }
  #question {
    & .button-wrapper {
      height: 4rem ;
    }
  }
}


.group {
  position: relative;
  width: 100%;
  max-width: 14rem;

  &.group-textarea {
    max-width: 100%;
    margin-top: 3rem;
  }

  &.group-left {
    margin-top: 5rem;
  }

  & input:-webkit-autofill,
  & textarea:-webkit-autofill,
  & select:-webkit-autofill {
    background-color: transparent !important;
  }

  & input, & textarea {
    color: #080808;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1rem;
    outline: none;
    padding: .415rem .83rem;
    width: 100% !important;
    display: block;
    border: none;
    border-bottom: .083rem solid #b5b4b4;
    background-color: transparent !important;

    &:focus /*, &:valid*/
    {
      outline: none;

      ~ .bar:before,
      ~ .bar:after {
        width: 50%;
      }
    }

    &.invalid:focus ~ label {
      color: #f53e32;
    }

    &:focus ~ label {
      //color: $green-color-form;
    }

    &:focus ~ span.error {
      opacity: 1;
      //color: $light-grey-text;
    }

    &.invalid:focus ~ label,
    &:focus ~ label,
    &:not(:empty) ~ label {
      top: -.55rem;
      font-size: .75rem;
    }

    &.valid {
      ~ .bar:before,
      ~ .bar:after {
        width: 50%;
      }

      ~ label {
        top: -.55rem;
        font-size: .75rem;
        color: #6abd88;
      }

      ~ span.error {
        opacity: 1;
        color: #6abd88;
      }
    }

    &.invalid {
      box-shadow: none;

      ~ label {
        color: #f53e32;
      }

      &.not-empty {
        ~ label {
          top: -.55rem;
          font-size: .75rem;
        }
      }

      ~ .bar:before,
      ~ .bar:after {
        width: 50%;
        background: #f53e32;
      }

      ~ .invalid {
        opacity: 1;
        color: #f53e32;
      }

      &:focus ~ span.error {
        color: #f53e32;
      }
    }
  }

  & span.error {
    position: absolute;
    bottom: -1rem;
    left: .83rem;
    font-size: .75rem;
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }

  & label {
    color: #b5b4b4;
    font-size: 1rem;
    position: absolute;
    pointer-events: none;
    left: .83rem;
    top: .75rem;
    transition: 0.3s ease all;
  }

  & .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before, &:after {
      content: "";
      height: .083rem;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #6abd88;
      transition: 0.3s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  @media (min-width: 560px) and (max-width: 1299.99px) {
    max-width: 12rem;
  }

  @media (min-width: 560px) and (max-width: 767.99px) {
    max-width: 12.5rem;
  }

  @media (min-width: 320px) and (max-width: 559.99px) {
    max-width: 400px;
    margin: 1.5rem auto !important;

    &.group-textarea {
      max-width: 400px;
      margin: 1.5rem auto !important;
    }
  }
}


.button-wrapper {
  width: 30.583rem;
  height: 13.708rem;
  position: absolute;
  right: -2.3rem;
  bottom: -4.6rem;
  background-color: #050505;
  background-image: url(img/btn-texture.png);
  background-position: left top;
  background-repeat: no-repeat;

  &--top {
    width: auto;
    height: auto;
    background-color: transparent;
    background-image: none;
    position: absolute;
    right: 0;
    bottom: auto;
  }

  &-black {
    background-image: none !important;
    background-color: #ffffff;
  }

  & button, button.button {
    color: #b5b4b4;
    font-family: 'Proxima Nova Rg', sans-serif;
    background-color: transparent;
    font-size: 1rem;
    border: 0;
    min-width: 14rem;
    width: auto;
    padding: .415rem .83rem;
    text-align: left;
    cursor: pointer;
    border-bottom: .083rem solid #b5b4b4;

    &.button-white {
      animation: backButton .75s ease-in-out;

      &:hover {
        animation: startButton .75s ease-in-out forwards;
      }
    }

    &.button-black {
      animation: backButton_b .75s ease-in-out;

      &:hover {
        animation: startButton_b .75s ease-in-out forwards;
      }
    }
  }

  @media (min-width: 1300px) and (max-width: 1500px) {
    width: 27rem;
    height: 13rem;
    bottom: -3.6rem;
  }

  @media (min-width: 1050px) and (max-width: 1299.99px) {
    &--top {
      min-width: 10rem !important;
      max-width: 13rem !important;
      width: auto !important;
      right: 5% !important;
      bottom: auto !important;
      height: auto;
    }
  }

  @media (min-width: 560px) and (max-width: 1299.99px) {
    width: 23rem;
    height: 12rem;
    right: -3.3rem;
    bottom: -3.6rem;

    & button, button.button {
      min-width: 12rem;
    }
  }

  @media (min-width: 560px) and (max-width: 1049.99px) {
    width: 22rem;
    height: 11rem;
    bottom: -2.6rem;
  }

  @media (min-width: 560px) and (max-width: 767.99px) {
    width: 17rem;
    height: 10rem;
    right: 0;
  }

  @media (min-width: 320px) and (max-width: 559.99px) {
    position: relative;
    background-color: transparent;
    background-image: none;
    width: 100%;
    height: auto;
    bottom: auto;
    right: auto;
    max-width: 400px !important;
    margin: 0 auto;

    & button, button.button {
      color: #b5b4b4;
      font-family: 'Proxima Nova Rg', sans-serif;
      background-color: transparent;
      font-size: 1rem;
      border: 0;
      min-width: 100%;
      width: 100%;
      max-width: 400px !important;
      border-bottom: .083rem solid #b5b4b4;
      margin: 1.5rem auto;
    }

    &--top {
      position: relative !important;
      right: 0;
      bottom: auto;
    }
  }
}

@keyframes startButton {
  25% {
    border-bottom: .042rem solid #b5b4b4;
    background-color: transparent;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  50% {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  75% {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  to {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
}

@keyframes backButton {
  from {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  25% {
    border-bottom: .042rem solid #b5b4b4;
    background-color: transparent;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  50% {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  75% {
    border: 0.042rem solid #ededed;
    background-color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
}

@keyframes startButton_b {
  25% {
    border-bottom: .042rem solid #b5b4b4;
    background-color: transparent;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  50% {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  75% {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  to {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
}

@keyframes backButton_b {
  from {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  25% {
    border-bottom: .042rem solid #b5b4b4;
    background-color: transparent;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  50% {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
  75% {
    border: 0.042rem solid #ededed;
    background-color: #080808;
    padding: 1.25rem 3.12rem;
    text-align: center;
  }
}
